<h2>Some Pictures</h2>
<%= link_to "Add an image", new_picture_url %>

<ul>
	<% @pictures.each do |p| %>
	<li>
		<p> "This is: "<%= p.title %> </p>
		<p>	<%= link_to image_tag(p.url, :width => 200), one_picture_path(p.id) %>  </p>
	</li>
	<% end %>
</ul>