<h2>Enter the info</h2>

<form action="/pictures" method="post"> <!-- Try to start writing this code in rails, just to get practice with different strategies -->
	URL: <input type ="text" name="url">
	Title: <input type ="text" name="title">
	<input type = "submit" name= "submit" value="Submit">
